body {
    background-image: url(../images/bk.png)
}
.logo {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.category {
    max-width: 98px;
}
.row {
    padding-left:15%;
    padding-right:15%; 
    max-width:100%;
    margin:0; 
}
.container1 {
    padding-left:19.3%;
    padding-right:19.3%; 
    max-width:100%;
}
a {
    color:black;
    margin:10px;
}
a:hover {
    text-decoration:none;
    color:gray;
}
.bang1 {
    padding-left:0;
}
.bang2 {
    padding-right:0;
}